Repository y-oga-819/github-stats-metrics, pull requests merged in 2024-01, with the labels that each got.

#12 [frontend] Sprint一覧を表示する画面を作成
  frontend/src/App.tsx
  frontend/src/features/pullrequestlist/Chart.tsx
  frontend/src/features/pullrequestlist/PullRequest.tsx
  frontend/src/features/pullrequestlist/PullRequestList.tsx
  frontend/src/features/sprintlist/SprintList.tsx
  frontend/src/features/sprintlist/SprintRow.tsx
  frontend/src/main.tsx
Labels: frontend

#14 [frontend] 固定値のダミーデータを使ってスプリント一覧を表示する
  frontend/src/App.tsx
  frontend/src/features/sprintlist/GetConstSprintList.ts
  frontend/src/features/sprintlist/SprintList.tsx
  frontend/src/features/sprintlist/SprintRow.tsx
Labels: frontend

#15 [frontend] ルーティングを設定して各ページを表示できるようにする
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/Router.tsx
  frontend/src/features/pullrequestlist/Chart.tsx
  frontend/src/features/pullrequestlist/PullRequestList.tsx
  frontend/src/features/sprint/SprintDetail.tsx
  frontend/src/features/sprintlist/SprintList.tsx
  frontend/src/features/sprintlist/SprintRow.tsx
  frontend/src/main.tsx
Labels: frontend

#16 [backend] プルリクエスト一覧を取得するAPIがクエリパラメーターを受け取れるようにする
  backend/app/.env.example
  backend/app/application/pull_request/get_pull_requests.go
  backend/app/domain/pull_request/get_pull_requests_request.go
  backend/app/go.mod
  backend/app/go.sum
  backend/app/infrastructure/github_api/github_api.go
Labels: backend

#17 hotfix: リポジトリ名の文字列連結をしてクエリを作成する際、リポジトリ名間にスペースを含めていなかった不具合を修正
  backend/app/infrastructure/github_api/github_api.go
Labels: bug, backend

#19 [frontend] チャートを表示する
  frontend/package.json
  frontend/src/Router.tsx
  frontend/src/features/Chart/Chart.tsx
  frontend/src/features/Chart/DevDayDeveloperChart.tsx
  frontend/src/features/Chart/MetricsChart.tsx
  frontend/src/features/Chart/PrCountChart.tsx
  frontend/src/features/pullrequestlist/Chart.tsx
  frontend/src/features/pullrequestlist/PullRequest.tsx
  frontend/src/features/pullrequestlist/PullRequestList.tsx
  frontend/src/features/pullrequestlist/PullRequestsFetcher.ts
  frontend/src/features/sprint/SprintDetail.tsx
  frontend/yarn.lock
Labels: frontend

#21 PRリストとスプリントリストを見やすくする
  frontend/src/features/pullrequestlist/PullRequest.tsx
  frontend/src/features/pullrequestlist/PullRequestList.tsx
  frontend/src/features/sprintlist/SprintList.tsx
  frontend/src/features/sprintlist/SprintRow.tsx
Labels: frontend
